/* ******************************************************************* */
/* ************* TESTING PURPOSES ONLY ******************************* */
/* ******************************************************************* */

/* selects all elements where parent is wrapper, used for testing purposes only to colour grid and borders */
.wrapper > * {
/*
        border: 2px solid #f08c00;
        background-color: #ffec99;
        border-radius: 5px;
*/
        padding: 5px;
    }


/* ****************************************************************************** */
/* ****************************************************************************** */
/* ************* MOBILE FIRST - GRID LAYOUT SETUP ******************************* */
/* ****************************************************************************** */
/* ****************************************************************************** */
/* ****************************************************************************** */
            /* ****************************************************** */


/* ***************************Site Wide Styling ********************************* */
/* ****************************************************************************** */

body {
/*    top and bottom margin of 5px */
/*    auto makes equal left and right margins */
/*    margin: 5px auto;*/
    border:0;
    /* google font */
    font-family: 'Montserrat', sans-serif;
/*    site wide font colour to match logo */
    color: #004b4b;
    text-align: center;
    max-width: 1700px;   
}

h1 { 
/* size of the font on each device, relative em value   */
    font-size: 3rem;
    margin: 0px;
}

/* *************************** Call to Action *********************************** */
/* ****************************************************************************** */

/* button to get user to action something */
.call-to-action-button {
    background-image:linear-gradient(-45deg, #218686, #004b4b); /* top left to bottom right dark green to slightly lighter green */
    background-color: #006060;/* if linear-gradient doesn't work */
    color: white; /* font */
    padding: 10px;
    border-radius:5px;
    text-decoration: none; /* remove browser default */
    display: inline-block; /* force other content to a new line */
}

/* signifer when hover button */
.call-to-action-button:hover {
    text-decoration: underline;
}

/* ***************** Setup standard grid CSS ************************************ */
/* ****************************************************************************** */

/* setup grid layout */
.wrapper {
  margin: 0 auto;
  display: grid;
/* col-start can be used as first line to make code more readable */
  grid-template-columns: repeat(12, [col-start] 1fr);
/* gap between grid items */
  grid-gap: 20px;
}

/* intialise all grid items to span the columns */
/* setups mobile design approach where majority of items will be one column */

/* main wrapper (seperation of CSS for readibility) */
.wrapper > * {
  grid-column: col-start / span 12;
}

/* setup seperate grid of 5 for the contact section of links */

#contact {
        display: grid;
    /*  one grid section for each image */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }

/* *********** HIDE CONTENT For Mobile ************* */
/*************************************************** */

.content-desktop {
    display: none;
}

.content-mobile {
    display: inline;
}

.content-tablet {
    display: none;
}

/* *********** Sitewide Positioning **************** */
/*************************************************** */

/*
.flex-columns {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
*/

/*
.centre-item {
    margin: 0 auto;
}
*/

/* ***************** Hamburger Navigation *************************************** */
/* ****************************************************************************** */

/*
#burger-button {
    width: 50px;
    height: 50px;
}
*/

#burger-button img {
    width: 60px;
    height: 50px;
}

#burger-container {
    grid-column: 1;
    grid-row: 2;
}



/* ***************** Navigation ************************************************* */
/* ****************************************************************************** */

/* setup flex box items to manipulate inside grids */
nav ul {
        display: flex;
        flex-direction:column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

/* set the navigation styling */
nav .main-nav {
    /* caps on first letter of each word */
    font-variant-caps:titling-caps;
    font-size:1em;
}

/* remove the browser default text decoration */

#contact a, nav a {
    text-decoration: none;
    color: #006060;
}

/* change colour for roll over signifier of links except for the buttons */
#contact a:hover, nav a:hover:not(.call-to-action-button) {
    text-decoration: underline;
    color: #e08337;
}

/* active link signifer */
#active {
    text-decoration: underline;
}

/* *********************** Current User navigation ********************* */
/* ********************************************************************* */

/* slightly smaller navigation and set to the right for user */    
#currentuser {
    font-size:0.9em;
}

/* position current user navigation */
#currentuser ul {
    flex-direction: row;
    justify-content: flex-end;
 
}
    
/* padding to match each part of the list and link */
#currentuser ul, #currentuser ul li, #currentuser a {
    padding: 5px;
}


#currentuser a:hover {
    text-decoration: underline;
    }

/* ************************ Apply Nav Button Positioning ******************* */
/* ************************************************************************* */
#apply-nav {
    grid-row: 3;
}
#apply-nav ul {
    flex-direction: row;
    justify-content: center;
}

/* ************************* Banner Positioning **************************** */
/* ************************************************************************* */

#banner {
    display:flex;
    justify-content: center;
}

/* *********************** Logo Styling ********************** */
/* *********************************************************** */  
    
    /* remove the browser default link decoration from the logo */
        #banner a {
            text-decoration: none;
            color: black; 
        }

        /* set logo styling */
        #logo {
             font-family: 'Courier New', Courier, monospace;
                /* reduce thickness of font */
                font-weight: lighter;
                font-size: 5rem;
                /* make sure link is only over the text */
                
        }

        /* target the span tags to color the relevent letters green */
        .greenletter {
            color:#006060;  
        }

/* ************************** Footer ******************************************** */
/* ****************************************************************************** */

footer ul {
        display: flex;
        list-style: none;
        flex-direction:column;
        justify-content: center;
        align-content: center;
        padding: 0;
}

/* slightly smaller text for footer navigation */
footer {
    font-size: 0.9em;
}

footer ul li a{
    /* remove browser default */
    text-decoration: none;
    color: #54595e;
}

/* signifer for footer links hover */
footer a:hover {
    text-decoration: underline;
}


/* *********** Image Sprite ************** */
/* *************************************** */

/*Image sprite CSS*/
.social {
    display:inline-block;
    
}

#facebook {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 39px;
    height: 39px;
    background-position: 0 0;
}

#snapchat{
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 40px;
    height: 38px;
    background-position:182px 0;
}

#twitter {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 44px;
    height: 39px;
    background-position:142px 0;
}

#youtube {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 59px;
    height: 39px;
    background-position: 98px 0;
}

#instagram{
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 40px;
    height: 39px;
    background-position:40px 0;
}

/* @!@£!@£!@£@!@!£?!@?!@?!@£?!@£@!?£!@?£ */
/* ************************************* */
/* NOT SURE THIS IS REQUIRED CHECK LATER */
/* ************************************* */

nav ul li a:hover {
    cursor:pointer;
    text-decoration: underline;
}

/* ******************* Page intro sections ******************* */
/* ********************************************************* */

#home-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/book_laptop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#news-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/macbook_pro_female_export.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#curriculum-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/pen_wireframes_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#employer-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/macbook_photoshop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#about-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/oldstreetroundabout.png);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

 
/* site intro heading */
.page-intro h1 {
    padding: 30px;
}
/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** Home Page Styling ******************* */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */


/* *************************** */
/*   HOME INTRO SECTION    */
/* *************************** */

/* force new line for the site intros, apply spacing */
.page-intro strong, .page-intro em, #about-title strong, #about-title em {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

}

/* *************************** */
/*   COMP EDUCATION SECTION    */
/* *************************** */

    #central-logo img {
        width:50%;
        height:auto;
        margin: 0px auto;
    }

iframe {
    height: 60vh;
    width: 100%;
}

/* *************************** */
/*   MAIN NEWS SECTION         */
/* *************************** */

/* see comp education section for iframe */

/* *************************** */
/*      CONTACT SECTION        */
/* *************************** */

#contact a {
    text-align:center;
    display:block;    
}

/* set the size of the images */
#contact img {
    width: 70px;
    height: auto;
}

/* styling to tidy up the layout of the images */

#apply-now img {
    padding-top: 0px;
    padding-bottom: 0px;
}

#contact-us img {
    padding-top: 12px;
    padding-bottom: 1px;
}
/*
#event-signup img {
    padding-top: 8px;
    padding-bottom: 16px;
}
*/
#live-chat img {
    padding-top: 5px;
    padding-bottom: 0px;
}

#employers img {
    padding-top: 8px;
    padding-bottom: 13px;
}



/* padding to tidy up the appearance of the icon when centred in mobile design due to the pencil making it appear off centre */
#apply-now img {
    padding-left: 10px;  
}

/* positioning of the various icons in the grid */
 
    
    #contact-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }
    
    #apply-now {
        grid-row: 2;
        grid-column: 2;
    }
    
    #contact-us {
        grid-row: 2;
        grid-column: 4;
    }
    
     #event-signup{
        grid-row: 3;
        grid-column: 2;
    }
    
     #live-chat {
        grid-row: 3;
        grid-column: 4;
    }
    
     #employers {
        grid-row: 4;
        grid-column: 3;
    }





/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/*                     MEDIA QUERIES                       */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */

/* ****************************  */
/* ****************************  */
/*  MEDIA QUERY FOR 900PX SITE   */
/* ****************************  */
/* ****************************  */

@media (min-width: 900px) {

/* Positioning of site navigation as row */
    nav ul {
        flex-direction:row;
        justify-content: space-around;
    }

/* Positioning of apply button */
    #apply-nav {
        grid-row:3;
    }
    
/* ***************************************************** */
/*      What is Silicon Hack - comp-education section    */
/* ***************************************************** */
    
#central-logo {
    grid-column: col-start 1 / span 4;
}

#intro-video{
    grid-column: col-start 5 / span 8;
}

#intro-video iframe {
    width: 100%;
    height: 315px;
    
}
    
#central-logo img {
        height:auto;
        width: 100%;
    }
    
.content-desktop {
    display: none;
}

.content-mobile {
        display: none;
    }

.content-tablet {
        display: inline;
    }

/* ****************************  */
/* ****************************  */
/*  MEDIA QUERY FOR 1000PX SITE   */
/* ****************************  */
/* ****************************  */

@media (min-width: 1000px) {

/* display content on desktop */

    .content-desktop {
    display: inline;
    }

    .content-mobile {
    display: none;
    }
    
    .main-nav {
        grid-row: 2;    
        grid-column: col-start 2 / span 8;
        }

    #apply-nav {
        grid-row: 2;
        grid-column: col-start 10 / span 3;
        }
    
/* Align text to left in the paragraphs
  for some reason this doesn't work?  p:not(a>p) */
    
    p{
        text-align: left;
    }
/*    align the text on buttons to centre */
    a>p{
        text-align: center;
    }

    
/* ********************************************** */
/* used to space the navigation equally across page */
    .main-nav ul {
        display:flex;
        flex-direction:row;
/* to centre vertically */
        margin-top: 10px;
/* gives equal space between items */
        justify-content: space-between;
    } 

/* ************************ Apply Nav Button Positioning ******************* */
/* ************************************************************************* */
    
    
    /* none for now */
    

/* ************************ Logo ******************* */
/* ************************************************* */    
    
     #logo {
            font-size: 5rem;
        }

/* ************************ Footer ******************* */
/* *************************************************** */
    
    /* only to span half the page on desktop */
    /* start in second column for spacing */
    #main-footer{
        grid-column: col-start 1 / span 12;
    }
   
    /* space between links and from edge of start point */
    footer ul {
        flex-direction:row;
        justify-content: space-around;
    }

/* ***************************************************** */
/* ***************************************************** */
/*                     Main News                         */
/* ***************************************************** */
/* ***************************************************** */

/* layout page with a column border from right and left */
    #main-news {
        grid-column: col-start 2 / span 10;
    }    
    
/* ***************************************************** */
/*      What is Silicon Hack - comp-education section    */
/* ***************************************************** */

    /* layout page with a column border from right and left */
#comp-education  {
        grid-column: col-start 2 / span 10;
    }

#central-logo img {
        height:auto;
        width: 250px;
        margin-top: 35px;
    }

    
#intro-video{
    grid-column: col-start 5 / span 8;
}

#intro-video iframe {
    width: 100%;
    height: 315px;
}
/* ***************************************************** */
/* ***************************************************** */
/*                     Contact Section                   */
/* ***************************************************** */
/* ***************************************************** */
   
/* a border of 1 grid column either side of the contact section */    
    #contact {
        grid-column: col-start 2 / span 10;
    }  

    /* position the header across the page, all 6 columns */
    #contact-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }

    /* position each of the icons on the same row next to each other */
    #apply-now {
        grid-row: 2;
        grid-column: 1;
    }
    
    #contact-us {
        grid-row: 2;
        grid-column: 2;
    }
    
     #event-signup{
        grid-row: 2;
        grid-column: 3;
    }
    
     #live-chat {
        grid-row: 2;
        grid-column: 4;
    }
    
     #employers {
        grid-row: 2;
        grid-column: 5;
    }

    

}