/* ******************************************************************* */
/* ************* TESTING PURPOSES ONLY ******************************* */
/* ******************************************************************* */

/* selects all elements where parent is wrapper, used for testing purposes only to colour grid and borders */
.wrapper > * {
/*
        border: 2px solid #f08c00;
        background-color: #ffec99;
        border-radius: 5px;
*/
        padding: 5px;
    }


/* ****************************************************************************** */
/* ****************************************************************************** */
/* ************* MOBILE FIRST - GRID LAYOUT SETUP ******************************* */
/* ****************************************************************************** */
/* ****************************************************************************** */
/* ****************************************************************************** */
            /* ****************************************************** */

/* ****************************************************************************** */
/* *********** HIDE CERTAIN CONTENT For Mobile ************* */
/*************************************************** */

.content-desktop {
    display: none;
}

.content-mobile {
    display: inline-block;
}

.content-tablet {
    display: none;
}

.content-desktop-tablet {
    display: none;
}

#main-nav {
    display:none;
}


/* ***************************Site Wide Styling ********************************* */
/* ****************************************************************************** */

body {
/*    top and bottom margin of 5px */
/*    auto makes equal left and right margins */
/*    margin: 5px auto;*/
    border:0;
    /* google font */
    font-family: 'Montserrat', sans-serif;
/*    site wide font colour to match logo */
    color: #004b4b;
    text-align: center;
    max-width: 1700px;
    line-height: 2.0;
}

p {
    text-align: left;
}

/* ensure all bullets appear left aligned on all views, fixes quirk in chrome centred bullets. */
ul li {
    text-align: left;
}

/* centre navigation of burger menu and the sitemap */
nav ul li, footer ul li {
    text-align: center;
}

h1 { 
/* size of the font on each device, relative em value   */
/*    */
    font-size: 3rem;
    margin: 0px;
}

/* *************************** Call to Action *********************************** */
/* ****************************************************************************** */

/* button to get user to action something */
.call-to-action-button {
    background-image:linear-gradient(-45deg, #218686, #004b4b); /* top left to bottom right dark green to slightly lighter green */
    background-color: #006060;/* if linear-gradient doesn't work */
    color: white; /* font */
    padding: 10px;
    border-radius:5px;
    text-decoration: none; /* remove browser default */
    display: inline-block; /* force other content to a new line */
}

/* signifer when hover button */
.call-to-action-button:hover {
    text-decoration: underline;
}

/* ***************** Setup standard grid CSS ************************************ */
/* ****************************************************************************** */

/* setup grid layout */
.wrapper {
      margin: 0 auto;
      display: grid;
    /* col-start can be used as first line to make code more readable */
      grid-template-columns: repeat(12, [col-start] 1fr);
    /* gap between grid items */
      grid-gap: 20px;
}

/* intialise all grid items to span the columns */
/* setups mobile design approach where majority of items will be one column */

/* main wrapper (seperation of CSS for readibility) */
.wrapper > * {
  grid-column: col-start / span 12;
}

/* setup seperate grid of 5 for the contact section of links */

#contact {
        display: grid;
    /*  one grid section for each image */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }


/* *********** Sitewide Positioning **************** */
/*************************************************** */

.flex-columns {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

/*
.centre-item {
    margin: 0 auto;
}
*/

/* ***************** Hamburger Navigation *************************************** */
/* ****************************************************************************** */

#burger-button img {
    width: 60px;
    height: 50px;
}

#burger-container {
    grid-column: 1;
    grid-row: 2;
}



/* ***************** Navigation ************************************************* */
/* ****************************************************************************** */

/* setup flex box items to manipulate inside grids */
nav ul {
        display: flex;
        flex-direction:column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

/* set the navigation styling */
#main-nav {
    /* caps on first letter of each word */
    font-variant-caps:titling-caps;
    font-size:1em;
}

/* remove the browser default text decoration */

#contact a, nav a {
    text-decoration: none;
    color: #006060;
}

/* change colour for roll over signifier of links except for the buttons */
#contact a:hover, nav a:hover:not(.call-to-action-button) {
    text-decoration: underline;
    color: #e08337;
}

/* active link signifer */
#active {
    text-decoration: underline;
}

/* *********************** Current User navigation ********************* */
/* ********************************************************************* */

/* slightly smaller navigation and set to the right for user */    
#currentuser {
    font-size:0.9em;
}

/* position current user navigation */
#currentuser ul {
    flex-direction: row;
    justify-content: flex-end;
 
}
    
/* padding to match each part of the list and link */
#currentuser ul, #currentuser ul li, #currentuser a {
    padding: 5px;
}


#currentuser a:hover {
    text-decoration: underline;
    }

/* ************************ Apply Nav Button Positioning ******************* */
/* ************************************************************************* */
#apply-nav {
    grid-row: 3;
}
#apply-nav ul {
    flex-direction: row;
    justify-content: center;
}

/* ************************* Banner Positioning **************************** */
/* ************************************************************************* */

#banner {
    display:flex;
    justify-content: center;
}

/* *********************** Logo Styling ********************** */
/* *********************************************************** */  
    
    /* remove the browser default link decoration from the logo */
        #banner a {
            text-decoration: none;
            color: black; 
        }

        /* set logo styling */
        #logo {
             font-family: 'Courier New', Courier, monospace;
                /* reduce thickness of font */
                font-weight: lighter;
                font-size: 3rem;
                /* make sure link is only over the text */
                
        }

        /* target the span tags to color the relevent letters green */
        .greenletter {
            color:#006060;  
        }

/* ************************** Footer ******************************************** */
/* ****************************************************************************** */

footer ul {
        display: flex;
        list-style: none;
        flex-direction:column;
        justify-content: center;
        align-content: center;
}

/* slightly smaller text for footer navigation */
footer {
    font-size: 0.9em;
}

footer ul li a{
    /* remove browser default */
    text-decoration: none;
    color: #54595e;
    padding: 0 10px;
}

/* signifer for footer links hover */
footer a:hover {
    text-decoration: underline;
}


/* *********** Image Sprite ************** */
/* *************************************** */

/*Image sprite CSS*/
.social {
    display:inline-block;
    
}

#facebook {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 39px;
    height: 39px;
    background-position: 0 0;
}

#snapchat{
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 40px;
    height: 38px;
    background-position:182px 0;
}

#twitter {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 44px;
    height: 39px;
    background-position:142px 0;
}

#youtube {
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 59px;
    height: 39px;
    background-position: 98px 0;
}

#instagram{
    background: url(images/icons/social_imagesprite_SH_Extra_Small.gif);
    width: 40px;
    height: 39px;
    background-position:40px 0;
}

/* @!@£!@£!@£@!@!£?!@?!@?!@£?!@£@!?£!@?£ */
/* ************************************* */
/* NOT SURE THIS IS REQUIRED CHECK LATER */
/* ************************************* */

nav ul li a:hover {
    cursor:pointer;
    text-decoration: underline;
}

/* ******************* Page intro sections ******************* */
/* ********************************************************* */

#home-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/book_laptop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#news-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/macbook_pro_female_export.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#curriculum-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/pen_wireframes_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#employer-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/macbook_photoshop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#about-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/oldstreetroundabout.png);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#login-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/pencils_wireframes_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

#sitemap-intro {
    /* fall back in gradient and image doesn't work */
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(images/intro/book_laptop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

 
/* site intro heading */
.page-intro h1 {
    padding: 30px;
}
/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** Home Page Styling ******************* */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */


/* *************************** */
/*   HOME INTRO SECTION    */
/* *************************** */

/* force new line for the site intros, apply spacing */
.page-intro strong, .page-intro em, #about-title strong, #about-title em {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

}

/* *************************** */
/*   COMP EDUCATION SECTION    */
/* *************************** */

    #central-logo img {
        width:50%;
        height:auto;
        margin: 0px auto;
    }

iframe {
    height: 60vh;
    width: 100%;
}

/* *************************** */
/*   MAIN NEWS SECTION         */
/* *************************** */

/* see comp education section for iframe */

/* *************************** */
/*      CONTACT SECTION        */
/* *************************** */

#contact a {
    text-align:center;
    display:block;    
}

/* set the size of the images */
#contact img {
    width: 70px;
    height: auto;
}

/* styling to tidy up the layout of the images */

#apply-now img {
    padding-top: 0px;
    padding-bottom: 0px;
}

#contact-us img {
    padding-top: 12px;
    padding-bottom: 1px;
}
/*
#event-signup img {
    padding-top: 8px;
    padding-bottom: 16px;
}
*/
#live-chat img {
    padding-top: 5px;
    padding-bottom: 0px;
}

#employers img {
    padding-top: 8px;
    padding-bottom: 13px;
}



/* padding to tidy up the appearance of the icon when centred in mobile design due to the pencil making it appear off centre */
#apply-now img {
    padding-left: 10px;  
}

/* positioning of the various icons in the grid */
 
    
    #contact-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }
    
    #apply-now {
        grid-row: 2;
        grid-column: 2;
    }
    
    #contact-us {
        grid-row: 2;
        grid-column: 4;
    }
    
     #event-signup{
        grid-row: 3;
        grid-column: 2;
    }
    
     #live-chat {
        grid-row: 3;
        grid-column: 4;
    }
    
     #employers {
        grid-row: 4;
        grid-column: 3;
    }


/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** form Styling ************************ */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

    .form-container {
        margin-top: 40px;
    }

/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** Site Map Styling ******************* */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

#sitemap ul {
    list-style:lower-roman;
    
}

#sitemap {
    text-align: left;
}

/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** ABOUT US PAGE *******************  */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

#more-about-us ul li {
    text-align: left;
}

/* *************************** */
/* staff section about us page */
/* *************************** */


/* style the staff images */
.staff-image img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%; /* make a circle */
    margin: 0 auto; /* position centre of the div */
}

    /* position the header across the page, all columns */
   #our-staff-header {
        grid-column: 1 / span 12;
        grid-row: 1;
    }

    /* position each of the images on the next row */
    #stevens-image {
        grid-column: 1 / span 12;
        grid-row: 2;
    }

    #vega-image {
        grid-column: 1 / span 12;
        grid-row: 3;
}

    #lau-image {
        grid-column: 1 / span 12;
        grid-row: 4;
}

    #lassami-image {
        grid-column: 1 / span 12;
        grid-row: 5;
}
    
    #tong-image {
        grid-column: 1 / span 12;
        grid-row: 6;
}

/* *************************** */
/* Contact Form Styling        */
/* *************************** */

#form-event-details {
    font-size: 2em;
    font-weight: 700;
    margin: 20px 0;
}

select {
/*    background-image:linear-gradient(-45deg, #218686, #004b4b); */
    /* top left to bottom right dark green to slightly lighter green */
/*    background-color: #006060; if linear-gradient doesn't work     */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 30px;
    height: 40px;
    width: 50%;
    display: block;
    margin: 10px auto;
    color: black;
    font-weight: 100;
    
}
/* selector looks for all input elements with the designated types*/
input[type=text], input[type=tel], input[type=email], input[type=number], input[type=date], input[list], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form-block {
    display: block;
    text-align: left;
}


/* styled in same way as call to action button */
input[type=submit] {
    background-image:linear-gradient(-45deg, #218686, #004b4b); 
    background-color: #006060;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius:5px;
    font-size: 1em;
}


input[type=submit]:hover {
    text-decoration: underline;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}


#event-signup-form {
    display: none;
}
#contact-us-form {
    display: none;
}
#apply-now-form {
    display: none;
}
#employers-form {
    display: none;
}

text-area {
    height: 10vh;
}

/* MAP STYLING */

iframe {
    width: 80%;
    height: 60vh;
    border-radius: 5px;

}

/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** Curriculum Styling *******************  */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

.curriculum {
    background-image:linear-gradient(-45deg, #218686, #004b4b); 
    /* top left to bottom right dark green to slightly lighter green */
    background-color: #006060;/* if linear-gradient doesn't work */
    color: white; /* font */
/*    padding: 10px;*/
    border-radius:5px;
    text-decoration: none; /* remove browser default */
    display: block; /* force other content to a new line */
    font-variant-caps: titling-caps;
/*    width: 50%;*/
/*    margin: 10px;*/
    text-align: center;
}

/* signifer when hover button */
.curriculum:hover {
    text-decoration: underline;
}

#digital-media h2 {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
}

#IT h2 {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
}

#digital-media, #IT {
    grid-column: col-start 1 / span 12;

}

.col-1, .col-2 {
    grid-column: 2 / span 10;
    grid-row:auto;
}

#what-learn ul li {
    text-align: left;
}

/* ***************************************************** */
/* ***************************************************** */
/*                     NEWS AND EVENTS PAGE              */
/* ***************************************************** */
/* ***************************************************** */

/*NEWS AND EVENTS  SECTION */
#news-header, #event-header {
    grid-column: col-start 1 / span 12;
    grid-row:1;
    text-align: left;
}

#news-header h1, #event-header h1 {
    font-size: 3em;
}

#news img, .event-image img {
    width: 100%;
    height: auto;
}

#salesforce, #nla, #google, #curve, #inspire , #NLA, #other-event, #hackathon, #open-evening, #taster  {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    color: #006060; /* font */

}

.description {
    text-align: left;
}


/* NEWS SECTION */

#salesforce h1 {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/news_images/architecture-buildings-city-373965.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#google h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/news_images/app-earbuds-earphones-39592.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#curve h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/news_images/adult-beanie-brainstorming-7367.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

#inspire h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/news_images/adolescent-adult-blur-933964.jpg);
    background-size:cover;
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nla h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/news_images/architectural-design-architecture-blueprint-239886.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .description blockquote {
    font-style: italic;
    margin: 40px 10px;
}

.student-name {
    margin: 0 10px;
}


.news-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px; 
    }
    
    .news-image-1{
        grid-column: 1 / span 2;
        grid-row:auto;
    }
    
    .news-image-2 {
        grid-column: 1 / span 2;
        grid-row:auto;
    }

/* EVENT SECTION */

.event-details strong{
    font-weight:900;
     
}

#open-evening h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/news_images/black-and-white-black-and-white-connection-615479.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taster h1 {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/events_images/audience-auditorium-bible-301988.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hackathon h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/events_images/adult-apple-device-business-340152.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#open-evening h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/events_images/black-and-white-black-and-white-connection-615479.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

#other-event h1 {
    grid-column: col-start 1 / span 12;
    grid-row: auto;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/events_images/amusement-park-children-europa-park-34524.jpg);
    background-size:cover;
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


#events {
    grid-column: col-start 1 / span 12;
    grid-row:auto;
}

   
    #events .wrapper .description,  #events .wrapper .event-details {
        text-align: left;
    }


/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** EMPLOYER ENGAGEMENT ****************  */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

.employer-header {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
    background-color: black;
    /* gradient over image to provide contrast of foreground text */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(images/employer_images/coaching-coders-coding-7374.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: center; /* starts at top */
    color: white; /* font */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join-us ul li {
    text-align: left;
}


/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/*                     MEDIA QUERIES                       */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */

/* ****************************  */
/* ****************************  */
/*  MEDIA QUERY FOR 700PX SITE   */
/* ****************************  */
/* ****************************  */
@media (min-width: 700px) {
    
/* ***************************************************  */
/* ***************************************************  */
/* *********************** NEWS PAGE  **************** */
/* ***************************************************  */
/* ***************************************************  */ 

    
    .news-image-1{
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    
    .news-image-2 {
        grid-column: 2 /span 1;
        grid-row: 1;
    }
    
/* ***************************************************** */
/* ***************************************************** */
/*                     ABOUT US Page                        */
/* ***************************************************** */
/* ***************************************************** */
    
    /***** Form Styling ******/
    
    form {
        text-align: left;
    }
    
    label {
        padding-left: 10px;
    }
}

@media (min-width: 800px) {
    
    
}


/* ****************************  */
/* ****************************  */
/*  MEDIA QUERY FOR 900PX SITE   */
/* ****************************  */
/* ****************************  */

@media (min-width: 900px) {
 
    

 /* display content on tablet landscape /small desktop, hide other content*/
   
   .content-desktop {
    display: none;
    }

    .content-mobile {
            display: none;
        }

    .content-tablet {
            display: inline;
        }

    .content-desktop-tablet {
        display: inline;
    }  
    
    #main-nav {
        display:block;
    }
    
    
/* set logo styling */
        #logo {
    /* increase the size of logo for the desktops and tablets over 900px */
                font-size: 5rem;                
        }

/* ********************************* */
    
/* Positioning of site navigation as row */
    nav ul {
        flex-direction:row;
        justify-content: space-around;
    }

/* Positioning of apply button */
    #apply-nav {
        grid-row:3;
    }

/* ***************************************************** */
/*      What is Silicon Hack - comp-education section    */
/* ***************************************************** */
    
#central-logo {
    grid-column: col-start 1 / span 4;
}

#intro-video{
    grid-column: col-start 5 / span 8;
}

#intro-video iframe {
    width: 100%;
    height: 315px;
    
}
    
#central-logo img {
        height:auto;
        width: 100%;
    }

/* ***************************************************** */
/* ***************************************************** */
/*                     ABOUT US Page                        */
/* ***************************************************** */
/* ***************************************************** */



/* position the header across the page, all 6 columns */
   #our-staff-header {
        grid-row: 1;
        grid-column: 2 / span 10;

    }

    /* position each of the icons on the same row next to each other */
    #stevens-image {
        grid-row: 2;
        grid-column: 2 / span 5;
    }

    #vega-image {
        grid-row: 2;
        grid-column: 7 / span 5;
    }

    #lau-image {
        grid-row: 3;
        grid-column: 2 / span 5;
    }

    #lassami-image {
        grid-row: 3;
        grid-column: 7 / span 5;
    }

    #tong-image {
        grid-row: 4;
        grid-column: 3 / span 8;
    }

/* ***************************************************** */
/* ***************************************************** */
/*                     CURRICULUM PAGE                   */
/* ***************************************************** */
/* ***************************************************** */

.curriculum {
    width: 100%;
}

.col-1 {
    grid-column: 1 / span 6;
}

.col-2 {
    grid-column: 7/ span 6;
}

#digital-media, #IT {
    grid-column: 1 / span 12;
}
  
    
/* ***************************************************  */
/* ***************************************************  */
/* *********************** NEWS PAGE  **************** */
/* ***************************************************  */
/* ***************************************************  */
    
    
#news img, .event-image {
    width: 80%;
    height: auto;
}
    
    
}

/* ****************************  */
/* ****************************  */
/*  MEDIA QUERY FOR 1000PX SITE  */
/* ****************************  */
/* ****************************  */

@media (min-width: 1000px) {

/* hide certain content, display content on desktop */
    
    .content-desktop {
    display: inline;
    }

    .content-mobile {
    display: none;
    }
    
    .content-tablet {
            display: none;
        }

    .content-desktop-tablet {
    display: inline;
}
    
    #main-nav {
            display:block;
        }
/* ********************************* */
    
/* Align text to left in the paragraphs
  for some reason this doesn't work?  p:not(a>p) */
    
    p{
        text-align: left;
    }
/*    align the text on buttons to centre */
    a>p{
        text-align: center;
    }

    
/* ********************************************** */
/* used to space the navigation equally across page */
    #main-nav ul {
        display:flex;
        flex-direction:row;
/* to centre vertically */
        margin-top: 10px;
/* gives equal space between items */
        justify-content: space-between;
    } 

/* ************************ Nav Positioning ******************* */
/* ************************************************************************* */
    
    
   /* set layout for navigation on desktop */
    #main-nav {
        grid-row: 2;    
        grid-column: col-start 2 / span 8;
        }

    #apply-nav {
        grid-row: 2;
        grid-column: col-start 10 / span 3;
        }

/* ************************ Logo ******************* */
/* ************************************************* */    
    
     #logo {
            font-size: 5rem;
        }

/* ************************ Footer ******************* */
/* *************************************************** */
    
    /* only to span half the page on desktop */
    /* start in second column for spacing */
    #main-footer{
        grid-column: col-start 1 / span 12;
    }
   
    /* space between links and from edge of start point */
    footer ul {
        flex-direction:row;
        justify-content: space-around;
    }

    
    

/* ***************************************************** */
/* ***************************************************** */
/*                    HOME PAGE                         */
/* ***************************************************** */
/* ***************************************************** */

/* layout page with a column border from right and left */
    #main-news {
        grid-column: col-start 2 / span 10;
    }    
    
/* ***************************************************** */
/*      Home Page - What is Silicon Hack - comp-education section    */
/* ***************************************************** */

    /* layout page with a column border from right and left */
#comp-education  {
        grid-column: col-start 2 / span 10;
    }

#central-logo img {
        height:auto;
        width: 250px;
        margin-top: 35px;
    }

    
#intro-video{
    grid-column: col-start 5 / span 8;
}

#intro-video iframe {
    width: 100%;
    height: 315px;
}
/* ***************************************************** */
/* ***************************************************** */
/*        Home Page - Contact Button Section              */
/* ***************************************************** */
/* ***************************************************** */
   
/* a border of 1 grid column either side of the contact section */    
    #contact {
        grid-column: col-start 2 / span 10;
    }  

    /* position the header across the page, all 6 columns */
    
    .five-col-section-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }
    
/*
    #contact-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }
*/

    /* position each of the icons on the same row next to each other */
    #apply-now {
        grid-row: 2;
        grid-column: 1;
    }
    
    #contact-us {
        grid-row: 2;
        grid-column: 2;
    }
    
     #event-signup{
        grid-row: 2;
        grid-column: 3;
    }
    
     #live-chat {
        grid-row: 2;
        grid-column: 4;
    }
    
     #employers {
        grid-row: 2;
        grid-column: 5;
    }


    
/* ***************************************************** */
/* ***************************************************** */
/*                     ABOUT US Page                        */
/* ***************************************************** */
/* ***************************************************** */
    

/* *************************** */
/* Contact Form Styling        */
/* *************************** */

#general-contact .wrapper {
       grid-column: col-start 2 / span 10;
    
    }


    
/* *************************** */
/* Staff Section Styling       */
/* *************************** */
/* a border of 1 grid column either side of the contact section */    
    #our-staff, #more-about-us {
        grid-column: col-start 2 / span 10;
    }  
    
 /* *************************** */
/*  Map Section Styling       */
/* *************************** */   

    iframe {
        margin-top: 30px;
    }
    
/* ***************************************************** */
/* ***************************************************** */
/*                     CURRICULUM PAGE                   */
/* ***************************************************** */
/* ***************************************************** */

 #what-learn, #map  {
       grid-column: 2 / span 10; 
    }
    
/* ***************************************************  */
/* ***************************************************  */
/* *********************** NEWS PAGE  **************** */
/* ***************************************************  */
/* ***************************************************  */ 
#news img {
    width: 60%;
    height: auto;
}

    #event-header, #news-header, .event-header, #news .description   {
       grid-column: 2 / span 10; 
    }
    
    
#events .wrapper .description {
    grid-column: 1 / span 12;
    grid-row:2;
}
#events .wrapper .description {
    grid-column: 2 / span 5;
    grid-row:3;
}
#events .wrapper .event-details {
    grid-column: 7 / span 6;
    grid-row:3;
}

/* ****************************************************** */
/* ****************************************************** */
/*                                                        */
/* **************** EMPLOYER ENGAGEMENT PAGE ***********  */
/*                                                        */
/* ****************************************************** */
/* ****************************************************** */

.employers-section, .come-join, #industry-links, #inspire {
    grid-column: col-start 2 / span 10;
}
  

}