/* ****************************************************************************** */
/* ****************************************************************************** */
/* ************* MOBILE FIRST - GRID LAYOUT SETUP ******************************* */
/* ****************************************************************************** */
/* ****************************************************************************** */
/* ****************************************************************************** */

            /* ********************************************* */

/* ****************************************************************************** */
/* ***************************Site Wide Styling ********************************* */
/* ****************************************************************************** */

body {
/*    top and bottom margin */
    margin: 5px 0;
    border:0;
    /* google font */
    font-family: 'Montserrat', sans-serif;
/*    site wide font colour to match logo */
    color: #004b4b;
}

h1 { 
/* size of the font on each device, relative em value   */
    font-size: 3rem;
}


/* ****************************************************************************** */
/* ***************** Setup standard grid CSS ************************************ */
/* ****************************************************************************** */

.wrapper {
    margin: 0 auto;
    }

/* selects all elements where parent is wrapper, used for testing purposes only to colour grid and borders */
.wrapper > * {
/*
        border: 2px solid #f08c00;
        background-color: #ffec99;
        border-radius: 5px;
        padding: 5px;
*/
    }

/* setup grid layout */
.wrapper {
  display: grid;
/* col-start can be used as first line to make code more readable */
  grid-template-columns: repeat(12, [col-start] 1fr);
/* gap between grid items */
  grid-gap: 20px;
}

/* intialise all grid items to span the columns */
/* setups mobile design approach where majority of items will be one column */
.wrapper > * {
  grid-column: col-start / span 12;
}

.content, .main-footer, .main-head, #siteintro, #comp-education, #contact {
    grid-column: col-start / span 12;
  }


/* setup flex box items to manipulate inside grids */
nav ul {
        display: flex;
        flex-direction:column;
        list-style: none;
        margin: 0;
        padding: 0;
    }


#currentuser ul {
    flex-direction: row;
    justify-content: space-between;
 
}

#apply-nav {
    grid-row:4;
}
#apply-nav ul {
    flex-direction: row;
    justify-content: center;
}

#banner {
    display:flex;
    justify-content: center;
}


footer ul {
        display: flex;
        list-style: none;
        flex-direction:column;
        justify-content: center;
        align-content: center;
}

.flex-columns {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.centre-item {
    margin: 0 auto;
}

#contact a {
    text-align:center;
    display:block;    
}

/* padding to tidy up the appearnce of the icon when centred in mobile design due to the pencil making it appear off centre */
#apply-now object {
    padding-left: 30px;
}
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/

/* button to get user to action something */
.call-to-action-button {
    background-image:linear-gradient(-45deg, #218686, #004b4b); /* top left to bottom right dark green to slightly lighter green */
    background-color: #006060;/* if linear-gradient doesn't work */
    color: white; /* font */
    padding: 10px;
    border-radius:5px;
    text-decoration: none; /* remove browser default */
    display: inline-block; /* force other content to a new line */
}

/* signifer when hover button */
.call-to-action-button:hover {
    text-decoration: underline;
}


/* *********************** */
/* Current User navigation */
/* *********************** */

/* slightly smaller navigation and set to the right for user */    
#currentuser {
    font-size:0.9em;
}

#currentuser a:hover {
    text-decoration: underline;
    }
    
/* padding to match each part of the list and link */
#currentuser ul, #currentuser ul li, #currentuser a {
    padding: 5px;
}

nav ul li a:hover {
    cursor:pointer;
    text-decoration: underline;
}

/* ******************* */
/* Logo Styling        */
/* ******************* */  
    
    /* remove the browser default link decoration from the logo */
        #banner a {
            text-decoration: none;
            color: black; 
        }

        /* set logo styling */
        #logo {
             font-family: 'Courier New', Courier, monospace;
                /* reduce thickness of font */
                font-weight: lighter;
                font-size: 5rem;
                /* make sure link is only over the text */
                
        }

        /* target the span tags to color the relevent letters green */
        .greenletter {
            color:#006060;  
        }

    /* ******* end of logo styling *********/



/* ******************* */
/* siteintro section   */
/* ******************* */

#siteintro {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(images/intro/book_laptop_intro.jpg);
    background-size:cover; /* ensure it covers container */
    background-position: top; /* starts at top */
    color: white; /* font */
    height:60vh;  /* 60% vertical height of screen */
    text-align: center; /* centre all text */
}

/* force new line for the site intros, apply spacing */
#siteintro strong, #siteintro em, #about-title strong, #about-title em {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

}
 
/* site intro heading */
#siteintro h1 {
    padding: 30px;
}

/* ******************* */
/* navigation          */
/* ******************* */

/* set the navigation styling */
nav .main-nav {
    /* caps on first letter of each word */
    font-variant-caps:titling-caps;
    font-size:1em;
}

/* remove the browser default text decoration */
nav a {
    text-decoration: none;
    color: #006060;
}
/* active link signifer */
#active {
    text-decoration: underline;
}

/* ********************* */
/* footer                */
/* ********************* */

/* slightly smaller text for footer navigation */
footer {
    font-size: 0.9em;
}

/*
footer ul {
    padding: 10px;
    list-style: none;
}
*/

/* display list on same line, force other content to new line  */
/*
footer ul li {
    display: inline-block;
}
*/

footer ul li a{
    /* remove browser default */
    text-decoration: none;
    color: #54595e;
/*    margin: 10px;*/
}

/* signifer for footer links hover */
footer a:hover {
    text-decoration: underline;
}

/*******************************/
/* COMP EDUCATION SECTION      */
/*******************************/






/*******************************/
/* HIDE CONTENT                */
/*******************************/


.content-desktop {
    display: none;
}

.content-mobile {
    display: inline;
}



/* ******************************************************* */
/*                     MEDIA QUERIES                       */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */
/* ******************************************************* */


/*******************************/
/* MEDIA QUERY FOR 500PX SITE */
/*******************************/

@media (min-width: 500px) {

    nav ul {
        flex-direction:row;
        justify-content: space-around;

    }
    
    #apply-nav {
        grid-row:3;
    }
}
/*******************************/
/* MEDIA QUERY FOR 700PX SITE */
/*******************************/

@media (min-width: 700px) {
  
    .content-desktop {
    display: inline;
    }

    .content-mobile {
    display: none;
    }

    #currentuser ul {
            justify-content: flex-end;
        }

    .main-nav {
        grid-row: 2;    
        grid-column: col-start 1 / span 8;
        
        }

    #apply-nav {
        grid-row: 2;
        grid-column: col-start 9 / span 4;
        }
    
   
    /* ********************************************** */
/* used to space the navigation equally across page */
    .main-nav ul {
        display:flex;
        flex-direction:row;
/* to centre vertically */
        margin-top: 10px;
/* gives equal space either side of last items also */
        justify-content: space-around;
    }
    
/* position the apply now button to the right */
    #apply-nav ul {
        justify-content: flex-end;
    }

/* ********************************************** */
    
    
     #logo {
            font-size: 5rem;
        }
    
    .main-footer{
        grid-column: col-start / span 6;
    }
   
    footer ul {
        flex-direction:row;
        justify-content: space-around;
    }

/* ***************************************************** */
/* ***************************************************** */
/*                     Main News                         */
/* ***************************************************** */
/* ***************************************************** */

    #main-news {
        background-color:black;
    }
    
    #main-news h1, #main-news #news-item{
        grid-column: 1/12;
    }
    
    #news-item {
        background-color:black;
        height:60vh;
    }
    
/* ***************************************************** */
/*      What is Silicon Hack - comp-education section    */
/* ***************************************************** */

#central-logo {
    grid-column: col-start 1 / span 5;        
}

    #central-logo img {
        width:100%;
        height:auto;
        padding-top: 80px;
    }

#intro-video{
    grid-column: col-start 6 / span 7;    
}

#intro-video iframe {
    width: 100%;
    height: 315px;
}
/* ***************************************************** */
/* ***************************************************** */
/*                     Contact Section                   */
/* ***************************************************** */
/* ***************************************************** */
    
    #contact {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr, 1fr;
    }
    
    #contact-header {
        grid-row: 1;
        grid-column: 1 / 6;

    }
    
    #apply-now {
        grid-row: 2;
        grid-column: 1;
    }
    
    #contact-us {
        grid-row: 2;
        grid-column: 2;
    }
    
     #event-signup{
        grid-row: 2;
        grid-column: 3;
    }
    
     #live-chat {
        grid-row: 2;
        grid-column: 4;
    }
    
     #employers {
        grid-row: 2;
        grid-column: 5;
    }

    

}